

body{
  background: url(color.jpg) repeat;
  background-size: cover;
}
.topArea{
  width: 100%;
  text-align: center;
}
.container{
  width: 560px;
  height: 560px;
  font-size:0;
  margin: 0 auto;
}

button{
  display: block;
  margin: 0 auto;
  font-size: 12px;
}

.col{
  box-sizing: border-box;
  border: 1px solid black;
}

.black{
  background-color: black;
  color: white;
}
.green{
  background-color: green;
  color: white;
}

.highlight{
  background-color: yellow;
  color: black;
}

body, button{
  font-family: monospace; "Monaco";
}
